## <font color="maroon"><h4 align="center">Handling Missing Data - fillna, interpolate, dropna</font>

In [ ]:
import pandas as pd
df = pd.read_csv("weather_data.csv",parse_dates=['day'])
type(df.day[0])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        7.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

## <font color="blue">fillna</font>

<font color="purple">**Fill all NaN with one specific value**</font>

In [ ]:
new_df = df.fillna(0)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        7.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

<font color="purple">**Fill na using column names and dict**</font>

In [ ]:
new_df = df.fillna({
        'temperature': 0,
        'windspeed': 0,
        'event': 'No Event'
    })
new_df

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-04          0.0        7.0     Sunny
2017-01-05         28.0        0.0      Snow
2017-01-06          0.0        7.0  No Event
2017-01-07         32.0        0.0      Rain
2017-01-08          0.0        0.0     Sunny
2017-01-09          0.0        0.0  No Event
2017-01-10         34.0        8.0    Cloudy
2017-01-11         40.0       12.0     Sunny

**Use method to determine how to fill na values**
Fills missing values with the previous row’s value (forward fill).

In [ ]:
new_df = df.fillna(method="ffill")
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        7.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        7.0   Sunny
2017-01-09         32.0        7.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [ ]:
new_df = df.fillna(method="bfill")
new_df
# Fills missing values with the next row’s value (backward fill).

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         28.0        7.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         32.0        7.0    Rain
2017-01-07         32.0        8.0    Rain
2017-01-08         34.0        8.0   Sunny
2017-01-09         34.0        8.0  Cloudy
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

<font color="purple">**Use of axis**</font>

In [ ]:
new_df = df.fillna(method="bfill", axis="columns") # axis is either "index" or "columns"
new_df
#Fills missing across columns (i.e., from left to right in a row).
#axis="columns" is the same as axis=1.

           temperature windspeed   event
day
2017-01-01          32         6    Rain
2017-01-04           7         7   Sunny
2017-01-05          28      Snow    Snow
2017-01-06           7         7     NaN
2017-01-07          32      Rain    Rain
2017-01-08       Sunny     Sunny   Sunny
2017-01-09         NaN       NaN     NaN
2017-01-10          34         8  Cloudy
2017-01-11          40        12   Sunny

<font color="purple">**limit parameter**</font>

In [1]:
new_df = df.fillna(method="ffill",limit=1)
new_df
#fill only certain number of times
#Only the first missing value after a non-null value is filled. Others stay NaN.

NameError: name 'df' is not defined

# **Interpolate**
estimate missing value

In [ ]:
new_df = df.interpolate()
new_df
#Interpolates (fills in) missing numerical values using linear method.

In [5]:
new_df = df.interpolate(method="time")
new_df

NameError: name 'df' is not defined

**Notice that in above temperature on 2017-01-04 is 29 instead of 30 (in plain linear interpolate)**

**There are many other methods for interpolation such as quadratic, piecewise_polynomial, cubic etc.
Just google "dataframe interpolate" to see complete documentation**

***dropna***
drop rows with msssing value

In [ ]:
new_df = df.dropna()
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [ ]:
new_df = df.dropna(how='all')
new_df
#drop rows only if all values are missing

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [ ]:
new_df = df.dropna(thresh=1)
new_df
#Keeps rows with at least 1 valid (non-missing) value.

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

***Inserting Missing Dates***
reindex()

In [ ]:
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df.reindex(idx)
# Expands your DataFrame to include all those dates, even if some were missing originally.
#This is useful for time-series data, where you want a full range of dates with gaps filled as NaN.

            temperature  windspeed   event
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        NaN     NaN
2017-01-03          NaN        NaN     NaN
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

| Function        | Purpose                                        |
| --------------- | ---------------------------------------------- |
| `fillna()`      | Fill missing values with constants or methods  |
| `interpolate()` | Estimate missing values (e.g. linear, time)    |
| `dropna()`      | Remove rows/columns with missing data          |
| `reindex()`     | Add new indexes (e.g. to insert missing dates) |