# *Introduction to Pandas*

### **Concept	Description**

Series:	1D labeled array

DataFrame: 2D labeled table

Index	: Labels for rows or columns

In [5]:
import pandas as pd

# Series
s=pd.Series([10,20,30])
print(s)

# DataFrame
data={'Name':['Alice','Bob'],'Age':[25,30]}
df=pd.DataFrame(data)
print(df)

0    10
1    20
2    30
dtype: int64
    Name  Age
0  Alice   25
1    Bob   30

In [17]:
#Reading a csv file
df=pd.read_csv('nyc_weather.csv')
df.head()      # First 5 rows
df.tail()      # Last 5 rows
df.info()      # Summary info
df.describe()  # Stats summary
df.shape       # Rows x Columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          28 non-null     float64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(2), int64(6), object(3)
memory usage: 2.8+ KB

In [18]:
df['Temperature'].max()

50

In [19]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [21]:
#handling missing values
df.fillna(0,inplace=True)
df['WindSpeedMPH'].mean()

np.float64(6.225806451612903)

Checking Conditions

In [22]:
df[df['Temperature'] > 40]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

Group and Aggregate data

In [23]:
df.groupby('Events')['Temperature'].mean()

Events
0           34.181818
Fog-Snow    31.000000
Rain        45.500000
Snow        26.333333
Name: Temperature, dtype: float64

| Operation      | Code                                        |
| -------------- | ------------------------------------------- |
| Add column     | `df['new'] = value`                         |
| Drop column    | `df.drop('col', axis=1)`                    |
| Drop row       | `df.drop(index)`                            |
| Sort           | `df.sort_values('Age')`                     |
| Rename         | `df.rename(columns={'old': 'new'})`         |
| Missing values | `df.isnull()`, `df.fillna()`, `df.dropna()` |